<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a57a9b">  <td>16/06/26 10:50:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Check_functions.loadanewURL()[pri:0, instance:sandbox.Check_functions@8bd1b6a]">loadanewURL</td> 
  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>16/06/26 10:50:11</td>   <td>9400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Check_functions.readfromexcel()[pri:0, instance:sandbox.Check_functions@8bd1b6a]">readfromexcel</td> 
  <td>main@1694556038</td>   <td></td> </tr>
</table>
